.App {
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
}

.start-btn,
.option-btn {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.start-btn {
  background-color: #0077cc;
  color: white;
}

.question-block {
  margin: 20px auto;
  padding: 20px;
  max-width: auto;
  border: 3px solid #000000;
  border-radius: 12px;
  background-color: #c3d4e1;
}

.option-btn {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  background-color: #8c9bfb;
}

.option-btn:hover {
  background-color: #ccc;
}

.correct {
  background-color: #4caf50 !important;
  color: white;
}

.wrong {
  background-color: #f44336 !important;
  color: white;
}

.score-block {
  margin-top: 30px;
}